@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="row" style="margin-top:250px;">
        <div class="col-6">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Filmes</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Controle dos Filmes</h6>
                    <p class="card-text">Neste sistema, temos o controle dos filmes</p>
                    <a href="/Filmes" class="card-link">Página inicial</a>
                    <a href="/FilmesPorCategoria" class="card-link">Filmes por Categoria</a>
                </div>
            </div>
        </div>     <div class="col-6">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Categorias</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Categorias dos Filmes</h6>
                    <p class="card-text">Controle das categorias.</p>
                    <a href="/Categorias" class="card-link">Página inicial</a>

                </div>
            </div>
        </div>
    </div>

</div>
